<!-- edit_assessment_plan.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Assessment Plan</title>
</head>
<body>
<h1>Edit Assessment Plan</h1>

<form method="POST" action="/updateprofile/<str:duration>/">
    {% csrf_token %}
    <label for="duration">Duration:</label>
    <input type="text" name="duration" id="duration" value="{{ userdata.duration }}"><br>

    <label for="weightage">Weightage:</label>
    <input type="text" name="weightage"id="Weightage" value="{{ userdata.Weightage }}"><br>

    <label for="typeology">Typeology:</label>
    <input type="text" name="typeology" id="typeology" value="{{ userdata.typeology }}"><br>

    <label for="pattern">Pattern:</label>
    <input type="text" name="pattern" id="'Pattern" value="{{ userdata.Pattern }}"><br>

    <label for="schedule">Schedule:</label>
    <input type="text" name="schedule" id="schedule" value="{{ userdata.schedule }}"><br>

    <label for="topics_covered">Topics Covered:</label>
    <textarea name="topics_covered">{{ userdata.topicscoverd }} </textarea><br>
    
    <button type="submit">Save Changes</button>
</form>
</body>
</html>
